<!-- Main content -->
<div id="content">
  <div id="postside">
    <h2> Wall </h2>
    <textarea rows="3" id="post" placeholder="Enter your message"></textarea>
    <button class="btn btn-primary" id="sendpost"> Post Message </button>
    <div id="note">
      <p>You need to be friend with the user to see the posts!</p>
    </div>
    <div id="oldposts">
    </div>
  </div>
  
  <div id="userside">
    <h1 id="username"> Username kinda long</h1>
    <img alt="" src="img/ano.jpg" class="img-rounded"/>
    <ul>
      <br />
      <li class="userpage">Name: <span id="name"> namn-in</li>
    </ul>
    <div id="addfriend">
      <button class="btn btn-large btn-block btn-primary" type="button" id="friendadd"><span>Add Friend</span></button>
    </div>
  </div>

  <!--End content -->
</div>
<!-- End overlayt -->
<div id="footer">
  <span>contact info: marhe414@student.liu.se or jacho391@student.liu.se</span>
</div>



